.vm {
    display: flex;
    flex-direction: column;
    padding: 70px 20px;
    width: 100%;

    font-family: var(--font-family);
    color: var(--dark-grey);

    background-color: var(--white);
}
