@media (max-width: 480px) {
  .header_wrapper {
    position: fixed;
    top: 0;
    width: 100%;
  }

  .header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 20px;

    background: var(--white);
    border-bottom: 1px solid var(--grey);
  }

  .logo {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
  }

  .header_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 32%;

    text-align: right;

    color: var(--primary);
  }

  .header_user {
    font-family: var(--font-family);
    font-size: 0.9rem;
    font-weight: 600;
  }

  .header_store {
    font-family: var(--font-family);
    font-size: 0.75rem;
    font-weight: 500;
  }
}