@media (max-width: 480px) {
  .header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 10vh;

    background: linear-gradient(225deg, var(--white), var(--grey));
    box-shadow: var(--grey) 0px 8px 24px, var(--grey) 0px 16px 56px, var(--grey) 0px 24px 80px;
    border-radius: 0px 0px 8px 8px;
  }

  .logo {
    width: 4.3rem;
    height:3.6rem;
  }

  .header_content {
    margin-top: 1rem;

    display: flex;
    flex-direction: column;
    align-items: end;
  }

  .header_title {
    font-family: var(--font-family);
    font-size: 1rem;
    font-weight: 700;
  }

  .header_user {
    font-family: var(--font-family);
    font-size: 0.75rem;
    font-weight: 500;
  }
}