.form {
    display: flex;
    flex-direction: column;
    width: 100%;

    font-family: var(--font-family);
    color: var(--black);
}

.form_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;

    color: var(--dark-grey);
}

.form_info {
    width: 70%;
}

.form_title {
    color: var(--dark-grey);
}

.form_subtitle {
    
}