.input {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 5px 0px;
    padding: 10px;
    
    font-family: var(--font-family);

    border: 1px solid var(--grey);
    border-radius: 5px;
}

.label {
    margin: 5px 0px;
}