:root {
    --black: "#161617";
    --white: "#FBFBFD";
    --grey: "#E0E0E0";
    --primary: "#FF4747";
    --secondary: "#4a0000";
    --accent: "#9D85FF";
    --success: "#0FBD83";
    --warining: "#FBB828";
    --danger: "#D22C2C";
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: lightgray;
}

.main_logo {
    width: 200px;
    height: 200px;
    opacity: 1;
}