:root {
    --black: #161617;
    --white: #FBFBFD;
    --grey: #E0E0E0;
    --dark-grey: #3c3c41;
    --primary: #FF4747;
    --secondary: #4a0000;
    --accent: #9D85FF;
    --success: #0fbda4;
    --warning: #FBB828;
    --danger: #D22C2C;

    --font-family: 'Roboto', sans-serif;
}

#root {
    background-color: var(--white);
}